In [6]:
import pandas as pd
import requests as rq

URL = 'https://worldcupjson.net'

In [7]:
def get_all_matches():
    response = rq.get(f'{URL}/matches')
    data = response.json()
    id_list = list(map(lambda x: x['id'] , data))
    return id_list
matches_ids = get_all_matches()

### MISSING
* possession of the ball
* home_clearances
* away_clearances

In [8]:
matches_ids
matches_data = []

for match_id in matches_ids:
    response = rq.get(f'{URL}/matches/{match_id}')
    data = response.json()
    home_goals = data['home_team']['goals']
    away_goals = data['away_team']['goals']
    matches_data.append({
        'id': match_id,
        'home_team': data['home_team']['country'],
        'away_team': data['away_team']['country'],
        'result_full': f'{home_goals}-{away_goals}',
        'goal_home_ft': home_goals - away_goals,
        'home_fouls_conceded': data['home_team_statistics']['fouls_committed'],
        'away_fouls_conceded': data['away_team_statistics']['fouls_committed'],
        'home_shots_on_target': data['home_team_statistics']['attempts_on_goal'],
        'away_shots_on_target': data['away_team_statistics']['attempts_on_goal'],
    })

In [9]:
df = pd.DataFrame(matches_data)

df

,id,home_team,away_team,result_full,goal_home_ft,home_fouls_conceded,away_fouls_conceded,home_shots_on_target,away_shots_on_target
0,1,QAT,ECU,0-2,-2,NaN,NaN,NaN,NaN
1,2,ENG,IRN,6-2,4,12.0,9.0,13.0,8.0
2,3,SEN,NED,0-2,-2,13.0,13.0,14.0,9.0
3,4,USA,WAL,1-1,0,9.0,14.0,6.0,7.0
4,5,ARG,KSA,1-2,-1,21.0,6.0,14.0,3.0
...,...,...,...,...,...,...,...,...,...
59,60,ENG,FRA,1-2,-1,14.0,10.0,14.0,8.0
60,61,ARG,CRO,3-0,3,8.0,15.0,10.0,11.0
61,62,FRA,MAR,2-0,2,11.0,11.0,15.0,13.0
62,63,CRO,MAR,2-1,1,11.0,13.0,13.0,7.0
63,64,ARG,FRA,3-3,0,18.0,23.0,20.0,10.0

In [10]:
df.to_excel('../data/matches_world_cup.xlsx', index=False)

In [11]:
df.to_csv('../data/matches_world_cup.csv', index=False)